<!DOCTYPE html>
<html>
<%- partial('_partial/head', {}, {cache: true}) %>

<body>
    <%- partial('_partial/header') %>
    <hr>
    <main class="main">
        <%- body %>
    </main>
</body>

</html>