<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

<body>
    <%- partial('_partial/header') %>
    <hr id = 'hr_0'>
    <hr id = 'hr_1'>
    <main class="main">
        <%- body %>
    </main>
</body>

</html>