body {
    font-size: 16px;
    line-height: 1.6em;
    padding: 0 1.2em;
    margin: 0 auto;
    max-width: 1000px;
    word-break: break-word;
}
::selection {
    background: #262a30;
    color: #fff;
}
/* 滚动槽 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 6px;
    background: rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.18);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}
@media screen and (min-width: 750px) and (max-width: 1000px)  {
    body {
        max-width: 750px;
        // margin-left: calc((100vw - 3em - 750px) / 2);
    }
}
@media screen and (min-width: 1000px) {
    body {
        // margin-left: calc((100vw - 3em - 1000px) / 2);
    }
}

@import "_partial/header";
@import "_partial/post";
@import "_partial/archive";
@import "_partial/normalize";

darkmode = hexo-config("darkmode");
always_darkmode = hexo-config("always_darkmode");
vertical = hexo-config("vertical");

if darkmode {
    @import "_partial/darkmode_follow_system";
}

if always_darkmode {
    @import "_partial/dark";
}

if vertical {
    @import "_partial/style_vertical";
    @import "_partial/header_vertical";
    @import "_partial/post_vertical";
    @import "_partial/archive_vertical";
} else {
    @media screen and (min-width: 320px) {
        body {
            font-size: calc(16px + 2 * ((100vw - 320px) / 960));
        }
    }
}
@media screen and (min-width: 768px) {
        body {
            font-size: calc(16px + 2 * ((100vw - 320px) / 960));
        }
}

if toc {
    @import "_partial/toc";
}