// dark mode css
body {
    background-color: var(--dark-background-color);
    color: var(--dark-front-color);
}

.header {
    .blog-title .logo {
        color: var(--dark-front-color);
    }
    .description {
        color: #818181;    
    }
    .menu .current-menu-item-link {
        color: var(--dark-front-color);
    }
    .menu .menu-item-link {
        &:hover {
            color: var(--dark-front-color);
        }
    }
}

.posts {
    .post-title .post-title-link {
        color: var(--dark-front-color);
    }
    .post-meta {
        color: var(--dark-front-color);
    }
    .post-content a,.post-content p {
        color: var(--dark-front-color);
    }
}

.post {
    .post-content p {
        color: var(--dark-front-color);
    }
    .post-content a {
        color: var(--dark-front-color);
        border-bottom: 1px solid rgba(255,255,255,0.26);
    }
    .post-content hr::before {
        color: #818181;
        font-size: 1.1em;
        display: block;
        content: "* * *";
        text-align: center;
    }
    .post-content table {
        tbody tr:nth-child(odd){
            background: #1b1b1b;
        }
    }
    .post-title {
        color: var(--dark-front-color);
    }
    .post-meta > span:not(:first-child):before{
        color: rgba(255, 255, 255, 0.2);
    }
    ruby rt {
        color: #818181;
    }
    p code, li code {
        background: #171717;
        color: var(--dark-front-color);
    }
    .highlight {
        background-color: #171717;
    }
    .highlight table, .highlight tr, .highlight td {
        background-color: #171717
    }
    a {
        color: var(--dark-front-color);
    }
    .toc-article {
        background: #151515;
    }
}

#prev_next {
    a {
        color: var(--dark-front-color);
    }
    .article-nav-title {
        color: var(--dark-front-color);
    }
}
.page-nav .more {
    color: var(--dark-front-color);
}
.archive .post-archive .post-item .post-title {
    color: var(--dark-front-color);
}
code, pre {
    background-color: black;
    color: var(--dark-front-color);
}
blockquote:before {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAHCAMAAADpsEdvAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAB7UExURQAAAOfn5+bm5ufn5+np6e/v7+fn5+Xl5ezs7O3t7ejo6O7u7uvr6+bm5uvr6+Xl5eTk5OTk5Ofn5+rq6uvr6/Hx8e/v7+Xl5fLy8urq6ufn5/T09OTk5Ofn5+np6ebm5uPj4+Pj4+np6eXl5eTk5ODg4OPj4+Hh4ebm5iwut+4AAAAjdFJOUwCs4aanDNHyGmnPTZHWZ/b+8tKEhggO/BCk0APty1zpko9qxIVM0AAAAEtJREFUCNcVyEUWgDAMBcCPFi/unrRw/xMSdvMGAOahw7gmImRmWrCZWJg+OdAa/29t3aJnDndx+VonIuJTzMSemC5xraomOJS68QHBOAT6MGROmQAAAABJRU5ErkJggg==") !important;
}
.license {
    color: #868e96;
}