
body {
    background-color: var(--dark-background-color);
    color: var(--dark-front-color);
}

.header {
    .blog-title .logo {
        color: var(--dark-front-color);
    }
    .description {
        color: #818181;    
    }
    .menu .current-menu-item-link {
        color: var(--dark-front-color);
    }
    .menu .menu-item-link {
        &:hover {
            color: var(--dark-front-color);
        }
    }
}

.posts {
    .post-title .post-title-link {
        color: var(--dark-front-color);
    }
    .post-meta {
        color: var(--dark-front-color);
    }
    .post-content a,.post-content p {
        color: var(--dark-front-color);
    }
}

.post {
    .post-content p {
        color: var(--dark-front-color);
    }
    .post-content a {
        color: var(--dark-front-color);
        border-bottom: 1px solid rgba(255,255,255,0.26);
    }
    .post-title {
        color: var(--dark-front-color);
    }
    border-color: #616161;
    p code, li code {
        background: #171717;
        color: var(--dark-front-color);
    }
    .highlight {
        background-color: #171717;
    }
    .highlight table, .highlight tr, .highlight td {
        background-color: #171717
    }
    a {
        color: var(--dark-front-color);
    }
}

#prev_next {
    a {
        color: var(--dark-front-color);
    }
    .article-nav-title {
        color: var(--dark-front-color);
    }
}
.page-nav .more {
    color: var(--dark-front-color);
    }
.archive .post-archive .post-item .post-title {
    color: var(--dark-front-color);
}
code, pre {
    background-color: black;
    color: var(--dark-front-color);
}
.license {
    color: #868e96;
}